html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
}

.courses{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  padding-bottom: 6%;
  margin: 2% 50%;
  grid-gap: 30px;
}
 .courses img{
   width: 100%;
   height: 100%;
 }

 .courses .flip-card{
   background-color: transparent;
   width: 300px;
   height: 200px;
   border: 1px solid black;
   perspective: 100px;
 }

 .courses .flip-card-inner{
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.8s;
   transform-style: preserve-3d;
 }

 .courses .flip-card:hover .flip-card-inner{
   transform: rotateY(180deg);
 }

 .courses .flip-card:focus .flip-card-inner{
   transform: rotateY(180deg);
 }

 .courses .flip-card-front, .flip-card-back{
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden;
 }

.courses .flip-card-front{
  background-color: #bbb;
  color: black;
}

.courses .flip-card-back{
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}

.courses .flip-card-back{
  overflow: auto;
}

.scale-up-hor-center {
  text-align: center;
  font-size: 30px;
	-webkit-animation: scale-up-hor-center .7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-hor-center .7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.2)), url("../images/waves.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    /* Text styles */
    font-size: 3em;
    color: white;
    text-align: center;
}

#hero_img img{
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.arrow {
  width: 49px;
  height: 49px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 500px;
  z-index: 9;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
img,
figure {
  max-width: 100%;
}


main{
  margin-bottom: 30px;
  height: 100vh;
}

h1 {
  font-family: 'Alata', sans-serif;
  margin: 20px 10px;
  font-size: 45px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 20px 10px;
  font-size: 30px;
}

p {
  font-family: 'Montserrat', sans-serif;
  margin: 20px 10px;
  font-size: 20px;
  font-weight: 300;
}


// Hannah's stylesheet below -- want to talk to coordinate :)

html{
  scroll-behavior: smooth;
}

body{
  background-color: white;
  font-size: 18px;
  /* font-family: 'Roboto', sans-serif; */
}

.page_container{
  /* position: relative;
  min-height: 100vh; */
}

.content_wrap{
  /* padding-top: 60px;    /* Footer height *
  padding-bottom: 60px;    /* Footer height * */
}

.header {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;            /* Footer height */
}

#header_logo{
  display: block;
  padding: 20px;
  width: auto;
  height: 40px;
}

#footer_logo{
  display: block;
  padding: 20px;
  width: auto;
  height: 40px;
}

.nav_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav{
  padding-top: 20px;
  padding-bottom: 20px;
}

nav ul{
  list-style-type: none;
  overflow: hidden;
  text-align: center;
  padding-top: 10px;
}

nav li{
  display: inline-block;
  flex: 1;
}

nav a{
  color: black;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 0.9em;
}

nav a:hover{
  text-decoration: underline;
}

nav a .active {
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: relative;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
  position: absolute;
  top: 0;
  transition: auto;
}

nav ul li a.active-page{
  color: black;
  text-decoration: underline;
}

/* BEGINNING: HERO PAGE */

/* END: HERO PAGE */

/* BEGINNING: LINKS.HTML */

#main{
  padding-left: 10vw;
  padding-right: 10vw;
}

.links {
  text-align: center;
}

h1 {
  color: black;
  font-size: 2.5em;
  line-height: 1;
  /* padding-bottom: 30px; */
}

.flex_links_btns {
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  border-radius: 10px;
  opacity: 0.7;
  filter: alpha(opacity=50);
  border: 1px solid black;
  color: white;
  /* font-family: 'Ubuntu', sans-serif; */
  text-align: center;
  font-size: 1em;
  line-height: 1.25;
  width: 25vw;
  height: auto;
  transition: all 0.3s;
  cursor: pointer;
  padding: 2% 3%;
  margin: 10px;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

#btn_show_all {
  background: rgb(30, 48, 144);
  /* color: rgb(246, 141, 183); */
}

#btn_wastetime {
  background: rgb(55, 128, 214);
}

#btn_useful {
  background: rgb(37, 143, 176);
}

.links_container {
  color: black;
  font-size: 1em;
  line-height: 1.5;
  margin: 10px;
}

/* END: LINKS.HTML */
