html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
}

.courses{
  display: flex;
  flex-direction: row;
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.2)), url("../images/waves.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    /* Text styles */
    font-size: 3em;
    color: white;
    text-align: center;
}

#hero_img img{
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.arrow {
  width: 49px;
  height: 49px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 500px;
  z-index: 9;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
img,
figure {
  max-width: 100%;
}


main{
  margin-bottom: 30px;
  height: 100vh;
}

h1 {
  font-family: 'Alata', sans-serif;
  margin: 20px 10px;
  font-size: 45px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 20px 10px;
  font-size: 30px;
}

p {
  font-family: 'Montserrat', sans-serif;
  margin: 20px 10px;
  font-size: 20px;
  font-weight: 300;
}
